<h4>Create new contact for <%= @company.name %> </h4>
<%= form_for [@company, @contact] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :position %>
  <%= f.text_field :position %>
  <br />
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br />
  <%= f.submit %>
<% end %>
