<h3>All Jobs for <strong><%= @company.name %></strong> </h3>
<ul>
<% @company.jobs.each do |job| %>
    <li class=job_<%= job.id %>> <%= link_to "#{job.title}", company_job_path(job.company, job) %></li>
<% end %>
</ul>

<%= link_to "Create a new #{@company.name} job", new_company_job_path(@company) %>

<h2><%= @company.name %> contacts:</h2>
<ul>
<% @company.contacts.each do |contact| %>
  <li>Name: <%= contact.name %></li>
  <li>Position: <%= contact.position %></li>
  <li>E-mail: <%= mail_to contact.email %></li>
  <br />
<% end %>
</ul>

<%= render partial: "contact_form" %>
